// Comments

#comments {

	//display: none; //For the moment

	margin: 3rem 0;
	clear: both;	
	font-size: .8rem;
	margin: 0 auto 1rem auto;
	max-width: 42rem;

	@media screen and (min-width: 768px) {
		padding: 0 5rem;
	}

	@media screen and (min-width: 1400px) {
		margin: 0 auto;
	}
}

.post-template-recipe-post #comments{
	max-width: 48rem;
}

// .comments-title is in typography

.comment-author {
	margin-left: -1rem;
	margin-right: -1rem;
	padding: .5rem 1rem 0 1rem;
	font-family: $system-font;
	color: $link-color;

	& a {
		text-decoration: none;
	}

	& .says {
		display: none;
	}
}

.comment-awaiting-moderation {
	color: $link-color;
}

.comment-meta {
	font-size: 0.7rem;
	margin-bottom: .5rem;
	font-family: $system-font;
	color: lighten($text-color, 20%);

	& a {
		text-decoration: none;
		color: lighten($text-color, 20%);
	}
}

.comment-body {
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid $special-color;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: lighten($special-color, 5%);
    padding: 5px 20px;
    margin-bottom: 20px;
    font-family: $system-font;
    font-size: .7rem;
}

.comment-body p {
	margin-bottom: 1rem;
	max-width: 33rem;
}

.reply a {
	@extend .button;
	margin-bottom: 0;
}

.comment-notes {
	font-size: 0.8rem;
	font-style: italic;
	margin-bottom: 0.33rem;
}

.comment .children {
	padding-left: 20px;

	.comment-author {
		border-top: none;
	}

	.comment-meta ,
	.comment-body p,
	.reply a,
	.comment-awaiting-moderation {

	}

	.comment-awaiting-moderation{
		display: inline-block;
	}

	.comment-author.vcard img{
		width: 24px;
		height: 24px;
	}
}

.comment .children .children {
	margin-left: 0;
	border-left: none;

	& .comment {
		padding: 0;
	}

	& .comment-meta ,
	& .comment-body p,
	& .reply a,
	& .comment-awaiting-moderation {
		margin-left: 0;
	}
}

.comment-form-author,
.comment-form-email,
.comment-form .form-submit,
.comment-form-cookies-consent {
	display: none;
}

.comment-form-cookies-consent {
	margin-bottom: 1em;
}

.svgIcon-respond {
	fill: $link-color;
	position: relative;
    top: 8px;
}

.logged-in-as {
	font-family: $system-font;
	font-size: .7rem;
	margin-bottom: .25rem;

	& a:first-child{
		text-decoration: none;
	}
}
