#header {

	background: $special-color;
	margin: -1rem -1rem 1rem -1rem;
    padding: 1.5rem 1rem;

    @media screen and (min-width: 768px) {
    	margin: -2rem -2rem 2rem -2rem;
	    padding: 1.5rem 2rem;
	    height: 6rem;
	    background: transparent;
	    position: absolute;
	    width: 100%;
	    z-index: 3;
    }

    @media screen and (min-width: 1200px) {
    	//margin: -36px -36px 36px -36px;
    	padding-top: 27px;
    	height: 108px;
    }

	@media screen and (min-width: 1400px) {
		position: fixed;
		height: auto;
		padding: 1rem;
	}
}

#site-title a {
	box-sizing: border-box;
	display: block;
	width: 180px;
	height: 54px;
	text-indent: -9999px;
	box-sizing: border-box;
	overflow: hidden;
	background-image: url(theme_assets/CWN_logo.svg); 
    background-position: 0	0;
    background-size: 100%;
    background-repeat: no-repeat;
}

#site-description {
	text-align: center;
	display: none;
}

.mobile-nav-toggle {

	@media screen and (min-width: 768px) {
		display: none;
	}

	width: 30px;
	position: absolute;
	top: 3rem;
	right: 1rem;

	svg *{
		fill: $link-color;
	}

	.navTrigger {
	  cursor: pointer;
	  width: 30px;
	  height: 25px;
	  margin: auto;
	  position: absolute;
	  left: 0;
	  right: 0;
	  top: 0;
	  bottom: 0;
	}
	.navTrigger i {
	  background-color: $link-color;
	  border-radius: 2px;
	  content: '';
	  display: block;
	  width: 100%;
	  height: 4px;
	}
	.navTrigger i:nth-child(1) {
	  -webkit-animation: outT 0.8s backwards;
	  animation: outT 0.8s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger i:nth-child(2) {
	  margin: 5px 0;
	  -webkit-animation: outM 0.8s backwards;
	  animation: outM 0.8s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger i:nth-child(3) {
	  -webkit-animation: outBtm 0.8s backwards;
	  animation: outBtm 0.8s backwards;
	  -webkit-animation-direction: reverse;
	  animation-direction: reverse;
	}
	.navTrigger.active i:nth-child(1) {
	  -webkit-animation: inT 0.8s forwards;
	  animation: inT 0.8s forwards;
	}
	.navTrigger.active i:nth-child(2) {
	  -webkit-animation: inM 0.8s forwards;
	  animation: inM 0.8s forwards;
	}
	.navTrigger.active i:nth-child(3) {
	  -webkit-animation: inBtm 0.8s forwards;
	  animation: inBtm 0.8s forwards;
	}
	@-webkit-keyframes inM {
	  50% {
	    -webkit-transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(45deg);
	  }
	}
	@keyframes inM {
	  50% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes outM {
	  50% {
	    -webkit-transform: rotate(0deg);
	  }
	  100% {
	    -webkit-transform: rotate(45deg);
	  }
	}
	@keyframes outM {
	  50% {
	    transform: rotate(0deg);
	  }
	  100% {
	    transform: rotate(45deg);
	  }
	}
	@-webkit-keyframes inT {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(9px) rotate(135deg);
	  }
	}
	@keyframes inT {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(9px) rotate(135deg);
	  }
	}
	@-webkit-keyframes outT {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(9px) rotate(135deg);
	  }
	}
	@keyframes outT {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(9px) rotate(135deg);
	  }
	}
	@-webkit-keyframes inBtm {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(-9px) rotate(135deg);
	  }
	}
	@keyframes inBtm {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(-9px) rotate(135deg);
	  }
	}
	@-webkit-keyframes outBtm {
	  0% {
	    -webkit-transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    -webkit-transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    -webkit-transform: translateY(-9px) rotate(135deg);
	  }
	}
	@keyframes outBtm {
	  0% {
	    transform: translateY(0px) rotate(0deg);
	  }
	  50% {
	    transform: translateY(-9px) rotate(0deg);
	  }
	  100% {
	    transform: translateY(-9px) rotate(135deg);
	  }
	}

}

#menu {
	position: relative;

	@media screen and (max-width: 767px) {
		background-color: #F3E7E4;
	    position: fixed;
	    top: 5rem;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    z-index: 1;
	    padding: 1rem;
		transform: translateX(100%);	
		transition: transform .2s linear;		   

		// When body has menu-active class
		body.menu-active & {
			transform: translateX(0);
			transition: transform .2s linear;
		} 
	}

	@media screen and (min-width: 768px) { 
		top: -2.5rem;
		margin-left: 14rem;
	}

	@media screen and (min-width: 1400px) {
		top: inherit;
		margin-left: 0;
		margin-top: 1rem;
		position: absolute;
		width: 12rem;
	}
}

#menu-cwn_main_menu {

	@media screen and (min-width: 768px) {
		border-bottom: none;
		padding-left: 0rem;
		height: 2.25rem;
	}

	@media screen and (min-width: 1400px) {
		border-bottom: 0;
		height: auto;
	}

	& .menu-item {
		display: block;
	}

	& .menu-item > a {		
		text-decoration: none;
		position: relative;
		font-family: $headline-font;
		font-size: 1rem;
		text-transform: uppercase;
		letter-spacing: 0.05em;		
		text-decoration: none;
		line-height: 1rem;
		display: block;
		padding: 0.75rem 0;
		border-bottom: 1px solid $link-color;
		-webkit-font-smoothing: auto;

		@media screen and (min-width: 768px) {
			float: left;
			display: inherit;
			margin-right: 3px;
			position: relative;						
			font-size: .85rem;
			line-height: .75rem;
			padding: .5rem 1.5rem;
			border-bottom: none;
		}

		@media screen and (min-width: 1200px) {
			font-size: 0.81rem;	
		}

		@media screen and (min-width: 1400px) {
			float: none;
			display: block;
			line-height: 1.2rem;
			border-bottom: 1px solid $special-color;
			padding: .5rem 0;
		}

	}

	& .current-menu-item > a,
	& .current-menu-parent > a{

		@media screen and (min-width: 768px) {
			border-bottom: 1px solid $link-color;
		}

		@media screen and (min-width: 1400px) {
			border-bottom: 1px solid $link-color;
			top: 0;
			line-height: 1rem;
			//height: 2.25rem;
		}
	}
}

#search {
	font-size: 1rem;
	margin-top: 1rem;

	@media screen and (min-width: 768px) {
		position: absolute;
		bottom: 5px;
		right: 0;
		font-size: 0.85rem;
	}

	@media screen and (min-width: 1400px) {
		position: relative;
		font-size: 0.81rem;
	}
}
