//Variable 
$cwn_borders: 1px solid $special-color;

body {
	background-color: $bg-color;
}

html, body * {
	box-sizing: border-box;
}

#container {
	padding: 0;
	box-sizing: border-box;
	clear: both;


	@media screen and (max-width: 768px) {
		margin-top: 70px;
	}

	@media screen and (min-width: 769px) {
		//padding-top: 6rem;
	}

	@media screen and (min-width: 1400px) {
		margin-left: 11rem;
		padding: 0 2rem 2rem 2rem;
	}

}

#content {
	position: relative;
}

#wrapper {
	margin: 0 auto;
	padding: 1rem;
	background: #FFF;

	@media screen and (min-width: 601px) {
		padding: 2rem;
		overflow: hidden;
	}

	@media screen and (min-width: 1666px) {
		
	}
}

.ng-row {
	clear: left;
	overflow: hidden;

	@media screen and (min-width: 768px) {
		margin-left: -0.5rem;
		margin-right: -0.5rem;
		margin-bottom: 1rem;
	}
}

// HOME Specific layout

#container.home {

	& .post {
		margin: 0;

		@media screen and (min-width: 769px) {
			width: 33.3%;
			float: left;
			box-sizing: border-box;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			position: relative;			
		}
	}

	& .attachment-post-thumbnail {
		width: 100%;
		height: auto;		
	}
}

.home_latestrecipes_wrapper {
		clear: both;
		margin-top: .5rem;
		padding-top: 1rem;
		
		@media screen and (min-width: 769px) {
			margin-left: -0.5rem;
			margin-right: -0.5rem;
		}
	}

.home_latestrecipes_wrapper_header {
	padding: 0 0.5rem;
}

.home_latestarticle_wrapper {
	@media screen and (min-width: 769px) {
		overflow: hidden;
	    margin: -2rem -1.5rem 0 -1.5rem;
	    position: relative;
	    padding: 2rem 1.5rem 1.5rem 1.5rem;
	    min-height: 88vh;
	}

	@media screen and (min-width: 1400px) {
		margin: -2em -1rem 0 -1rem;
	}
}

.home_latestarticle,
#container.home .home_latestarticle {
	margin-bottom: 2rem;	
	//overflow: auto;

	@media screen and (min-width: 769px) {
		margin-top: 10rem;
	}

	& .attachment-post-thumbnail {
		margin-left: -1rem;
		margin-right: -1rem;
		margin-top: -1rem;
		width: calc(100% + 2rem);

		@media screen and (min-width: 601px){
			margin-left: -2rem;
			margin-right: -2rem;
			margin-top: -2rem;
			width: calc(100% + 4rem);
		}

		@media screen and (min-width: 769px){
			@media (orientation: landscape) {
				margin: 0 0 1rem 0;
				width: 100%;			
			}
			@media (orientation: portrait) {
				width: auto;
				height: 100%;
				left: 50%;
			    transform: translate(-50%,0);
			    margin: 0;
			}
		}
	}
}

.home_latestarticle_header {
	text-align: right;
	display: none;
}

.home_latestarticle_thumbnail {
	box-sizing: border-box;
	margin-bottom: 1rem;

	@media screen and (min-width: 769px) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	@media screen and (min-width: 1200px) {

	}

	& img {
		display: block;

		@media screen and (min-width: 769px) {
			background-color: #FFF;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			margin: 0;

			@media (orientation: portrait) {
				height: 100%;
				width: auto;
			}
		}
	}

	&:after {
		@media screen and (min-width: 769px) {
			content: "";
		    display: block;
		    position: absolute;
		    width: 100%;
		    top: 0;
		    height: 100%;
		    @include nav-underlay;
		}

		@media screen and (min-width: 1400px) {
			background: none;
		}
	}
}

.home_latestarticle_content {
	position: relative;

	@media screen and (min-width: 769px) {
		background: #FFF;
		padding: 2rem;
		position: absolute;
		bottom: 4rem;
	    left: 50%;
	    transform: translate(-50%, 0);
	    width: 100%;
	    max-width: 40rem;
	}
}

.home_latestarticle_tag {
	background-color: $text-color;
	color: $bg-color;
	display: inline-block;
	text-align: center;
	padding: 0.33rem 1rem;
	font-size: 1.5rem;
	height: 3rem;
	min-width: 10rem;
	-webkit-transform-origin: 100% 0 ;
       -moz-transform-origin: 100% 0 ;
        -ms-transform-origin: 100% 0 ;
         -o-transform-origin: 100% 0 ;
            transform-origin: 100% 0 ;
	transform: rotate(270deg);
	position: absolute;
	right: calc(100% + 3rem);
    top: 0px;
}

.attachment-post-thumbnail {
	width: 100%;
	height: auto;
	display: block;
	//border: $cwn_borders;
}

#container.home,
#container.archive,
#container.search{

	.article_content {
		background: $special-color;
	    padding: 1rem;
	    margin-bottom: 1rem;

	    @media screen and (min-width: 769px){
	    	margin-bottom: 0;
	    	position: relative;

	    	&:after {
	    		content: '';
	    		display: block;
	    		position: absolute;
	    		top: 100%;
	    		left: 0;
	    		right: 0;
	    		background-color: $special-color;
	    		height: 500px;
	    	}
	    }
	}

	& {
		@media screen and (min-width: 769px) and (max-width: 1399px) {
			margin-left: -0.5rem;
			margin-right: -0.5rem;
		}

		@media screen and (min-width: 1400px) {
			margin-left: 11rem;
			margin-right: -3rem;
		}
	}
}

// Archive specific layout

#container.archive,
#container.search,
#container.page-template-instagram_archive {

	@media screen and (min-width: 769px) and (max-width: 1399px) {
		margin-top: 6rem;
	}

	& .header {
		padding: 0 0.5rem 2rem 0.5rem;
	}

	& .entry-title {
		color: $link-color;
		margin-bottom: 0;
	}

	& .archive-meta {
		font-style: italic;
		font-size: 1.25rem;
		text-align: center;
	}

	& .category_subnav {
		margin-bottom: 1rem;
		text-align: center;
	}

	& .post,
	& .page {
		margin: 0 0 0 0;

		@media screen and (min-width: 769px) {
			width: 33.3%;
			float: left;
			box-sizing: border-box;
			padding: 0 0.5rem;
			position: relative;
		}
	}

	& .post.no-results,
	& .post.not-found {

		@media screen and (min-width: 769px) {
			width: 100%;
			float: none;
			box-sizing: border-box;
			padding: 0 0.5rem;
			position: relative;
		}
	}
}

#container.paged {

	@media screen and (min-width: 769px) and (max-width: 1399px) {
		margin-top: 6rem;
	}
}

 .thumbnail {
	width: 100%;
	padding-bottom: 71.4285714%;
	position: relative;
	overflow: hidden;
	background-color: #DDD;

	& .attachment-post-thumbnail {
		position: absolute;
		width: 100%;
		height: auto;
	}
} 

// Instagram Archive specific layout

#container.page-template-instagram_archive {
	& a {
		text-decoration: none;
	}
}

.is_insta_title {
	background-color: $special-color;
	padding: .5rem;
	margin: 0;
	text-align: center;
	font-size: .8rem;
	font-family: $system-font;

	@media screen and (max-width: 769px) {
		margin-bottom: 1rem;
	}
}

// Meta Nav

#nav-below {
	clear: both;
	text-align: center;

	.header & {		
		margin-bottom: 1rem;
	}
}

.nav-previous,
.nav-next {
	display: inline-block;

	& > a {
		display: inline-block;
		box-sizing: border-box;
		padding: .5rem 1rem;
		border-radius: 3px;
		background: $special-color;
		font-family: $system-font;
		font-size: 1rem;
		color: $link-color;
		text-decoration: none;
		text-align: center;

		& .meta-nav {			
			font-size: 1rem;
		}
	}
}

.nav-next {

}

// Random shit

.thumbnail_placeholder {
	width: 100%;
	padding-bottom: 71.4285714%;
	background: #DDD;
	position: absolute;
}

.post-edit-link {
    position: fixed;
    top: 6rem;
    right: 0;
    background: $special-color;
    padding: 1rem 1.5rem;
    border: 2px solid #D4776B;
    font-style: italic;
    text-decoration: none;
}
