//Variable 
$cwn_borders: 1px solid $special-color;

body {
	background-color: $bg-color;
}

html, body * {
	box-sizing: border-box;
}

#container {
	padding: 0;
	box-sizing: border-box;
	clear: both;

	@media screen and (max-width: 767px) {
		margin-top: 1rem;
	}

	@media screen and (min-width: 768px) {
		//padding-top: 6rem;
	}

	@media screen and (min-width: 1400px) {
		margin-left: 12rem;
		padding: 0 2rem 2rem 2rem;
	}

}

#content {
	position: relative;
}

#wrapper {
	margin: 0 auto;
	padding: 1rem;

	@media screen and (min-width: 768px) {
		padding: 2rem;
	}
}

.entry-content_text {

}

// HOME Specific layout

.home {

	& .post {
		margin: 0;

		@media screen and (min-width: 768px) {
			width: 33.3%;
			float: left;
			box-sizing: border-box;
			padding-left: 0.75rem;
			padding-right: 0.75rem;
			position: relative;			
		}
	}

	& .attachment-post-thumbnail {
		width: 100%;
		height: auto;		
	}
}

.home_latestrecipes_wrapper {
		clear: both;
		margin-top: .5rem;
		padding-top: 1rem;
		
		@media screen and (min-width: 768px) {
			margin-left: -0.75rem;
			margin-right: -0.75rem;
		}
	}

.home_latestrecipes_wrapper_header {
	padding: 0 0.75rem;
}

.home_latestarticle_wrapper {
	@media screen and (min-width: 768px) {
		overflow: hidden;
	    margin: -2rem -2rem 0 -2rem;
	    position: relative;
	    padding: 10rem 2rem 2rem 2rem;
	    min-height: 75vh;
	}

	@media screen and (min-width: 1400px) {
		margin: -2em -4rem 0 -2rem;
	}
}

.home_latestarticle {
	margin-bottom: 2rem;	
	//overflow: auto;

	& .attachment-post-thumbnail {
		margin-left: -1rem;
		margin-right: -1rem;
		margin-top: -1rem;
		width: calc(100% + 2rem);

		@media screen and (min-width: 768px) {
			margin: 0 0 1rem 0;
			width: 100%;			
		}
	}
}

.home_latestarticle_header {
	text-align: right;
	display: none;
}

.home_latestarticle_thumbnail {
	box-sizing: border-box;

	@media screen and (min-width: 768px) {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
	}

	@media screen and (min-width: 1200px) {

	}

	& img {
		@media screen and (min-width: 768px) {
			background-color: #FFF;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			margin: 0;
		}
	}

	&:after {
		@media screen and (min-width: 768px) {
			content: "";
		    display: block;
		    position: absolute;
		    width: 100%;
		    top: 0;
		    height: 100%;
		    background: linear-gradient(rgba(255, 255, 255, .75), transparent);	
		}
	}
}

.home_latestarticle_content {
	position: relative;

	@media screen and (min-width: 768px) {
		background: #FFF;
		padding: 2rem;
		width: 50%;
	}

	@media screen and (min-width: 1400px) {
		position: absolute;
		bottom: 2rem;
	}
}

.home_latestarticle_tag {
	background-color: $text-color;
	color: $bg-color;
	display: inline-block;
	text-align: center;
	padding: 0.33rem 1rem;
	font-size: 1.5rem;
	height: 3rem;
	min-width: 10rem;
	-webkit-transform-origin: 100% 0 ;
       -moz-transform-origin: 100% 0 ;
        -ms-transform-origin: 100% 0 ;
         -o-transform-origin: 100% 0 ;
            transform-origin: 100% 0 ;
	transform: rotate(270deg);
	position: absolute;
	right: calc(100% + 3rem);
    top: 0px;
}

// Archive specific layout

body.archive,
body.search {

	& #container {
		@media screen and (min-width: 768px) and (max-width: 1399px) {
			margin-top: 6rem;
		}
	}

	& .entry-title {
		font-size: 2rem;
		color: $link-color;
	}

	& .post,
	& .page {
		margin: 0 0 3.5rem 0;

		@media screen and (min-width: 768px) {
			width: 33.3%;
			float: left;
			box-sizing: border-box;
			padding-left: 1.5rem;
			position: relative;
			left: -1.5rem;
		}
	}

		& .attachment-post-thumbnail {
			width: 100%;
			height: auto;
			//border: $cwn_borders;
		}
}

/* .thumbnail_category {
	width: 50%;

	& .attachment-post-thumbnail {
		width: 100%;
		height: auto;
		border: 3px solid $text-color;
	}
} */


// Comments

#comments {
	margin: 3rem 0;
	clear: both;
}

#footer {
	margin-top: 1rem;
	padding-top: 1rem;
	border-top: $cwn_borders;
	font-size: .7rem;
}

// Meta Nav

#nav-below {
	margin: 0 -1rem;
	background: $special-color;
	overflow: auto;

	@media screen and (min-width: 768px) {
		margin: 0;
	}
}

.nav-previous,
.nav-next {

	& > a {
		display: block;
		width: 50%;
		box-sizing: border-box;
		padding: 1rem .5rem;
		background: $special-color;
		font-family: $headline-font;
		font-size: 1rem;
		color: $link-color;
		float: left;
		text-decoration: none;
		text-align: center;

		& .meta-nav {
			display: block;
			font-size: 1rem;
		}
	}
}

.nav-previous {
	& > a {
		border-right: 1px dashed #FFF;
	}
}

// Page Transitions 

#container {
	opacity: 1;
	transition: all .3s ease-out;

	.loading & {
		opacity: 0;
		transition: all .3s ease-out;
	}
}


// Random shit

.thumbnail_placeholder {
	width: 100%;
	height: 33vh;
	background: #DDD;
}

