#container.single-post,
#container.page {

	& {
		padding: 0;

		@media screen and (min-width: 1400px) {
			padding-left: 3rem;
		}
	}

	.article_content {

		@media screen and (min-width: 769px) {			
			width: 100%;
		    background: #FFF;
		    margin-top: -50vh;
		    position: relative;
		    padding: 3rem 5rem 0 5rem;
		    max-width: 42rem;
		    margin-left: auto;
		    margin-right: auto;
		    overflow: auto;
		}

		&.no-thumbnail {
			margin-top: 6rem;

			@media screen and (min-width: 769px) {
				margin-top: -85vh;
			}
		}
	}

	.entry-title {
		margin-top: 0;
	}

	.entry-meta {
		font-size: .8rem;
		text-align: center;
		margin-bottom: 0.5rem;
	}

}

.thumbnail_single {
	width: calc(100% + 2rem);
	margin: -1rem -1rem 1rem -1rem;

	@media screen and (min-width: 601px) {
		width: calc(100% + 4rem);
		margin: -2rem -2rem 2rem -2rem;
	}	

	@media screen and (min-width: 769px) {
		width: calc(100% + 4rem);
		margin: -2rem -2rem 2rem -2rem;
		padding: 0;
		position: relative;
		height: 100vh;
		overflow: hidden;
	}

	& .attachment-post-thumbnail {
		width: 100%;
		height: auto;
		display: block;

		@media screen and (min-width: 769px) {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);

			@media (orientation: portrait) {
				height: 100%;
				width: auto;
			}
		}
	}

	&.no-thumbnail {
		background: #9dbdb6; /* Old browsers */
		background: -moz-linear-gradient(top, #9dbdb6 48%, #ffffff 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #9dbdb6 48%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #9dbdb6 48%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dbdb6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	}

	

	&:after {
		@media screen and (min-width: 769px) and (max-width: 1400px) {
			content: "";
		    display: block;
		    position: absolute;
		    width: 100%;
		    top: 0;
		    height: 100%;
		    @include nav-underlay;
		}

	}
}

#container.post-template-recipe-post {

	.article_content {
		@media screen and (min-width: 769px) {
			max-width: 48rem;
		}
	}

	.recipe_thumbnail {
		width: calc(100% + 2rem);
		height: auto;
		max-height: 45vh;
		margin: -1rem -1rem 1rem -1rem;	
		overflow: hidden;

		& .attachment-post-thumbnail {
			width: 100%;
			height: auto;
		} 

	}

	.entry-content {
		@media screen and (min-width: 769px) {			
			background-color: #FFF;
			//width: calc(50%);
			//margin-left: 1rem;
			box-sizing: border-box;
			//float: left;
			padding: 1rem 2rem 0 0;				
			position: relative;
			//color: $link-color;

		}
	}

	.recipe {

		@media screen and (min-width: 769px) {			
			background-color: #FFF;
			//width: calc(50%);
			box-sizing: border-box;
			//float: left;
			padding: 1rem 2rem 0 0;			
			position: relative;
		}
	}

	.recipe_components_ingredients_group {
		
		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
		}
	}

	.recipe_component_name {
		font-weight: bold;
		font-size: 1.25rem;
		color: $link-color;
		margin-bottom: .5rem;
		clear: both;		
	}

	.recipe_component_header {
		font-style: italic;
		margin-bottom: .5rem;
	}

	.recipe_component_ingredients {
		margin-bottom: 1rem;
		
		ul {
			list-style: square;
			margin: 0 0 .5rem 1rem;
		}
	}

	.recipe_component_steps {
		margin-bottom: 1rem;
		//color: $link-color;

		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin: 0 0 .5rem 1rem;
		}

		p {
			font-style: italic;
			padding: .5rem 0;
			border-bottom: 1px solid #EEE;

			&:first-of-type {
				margin-top: -.5rem;
			}
		}

		ol {
			list-style: decimal;
			margin-left: 1rem;

			li {
				border-top: 1px solid lighten($link-color, 25%);
				padding-top: .5rem;
				margin-bottom: .5rem;
			}
		}
	}
}

.toggle-cookmode {
	margin: 0 auto 1rem auto;
	font-size: .75rem;
    padding: .5rem;
    display: block;
    width: 200px;
    outline: none;
    border: 1px solid $link-color;
    background: #FFF;

	&:after {
		content: ' on';
	}
}

#container.cookmode-on {

	.toggle-cookmode {
		position: fixed;
		top: .5rem;
		right: .5rem;
		z-index: 5;

		&:after {
			content: ' off';
		}
	}

	& .recipe {
		position: fixed;
		z-index: 4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0 auto;
		overflow: scroll;
		width: 100%;
		max-width: 1665px;
		box-sizing: border-box;
		background: $bg-color;
		padding: 4rem 2rem 2rem;

		& .attachment-post-thumbnail {
			display: none;
		}
	}

	.recipe_components_ingredients_group {

		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
		}
	}

	.recipe_component_steps {
		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin-left: 1rem;
		}

		li:hover {
			background: $text-color;
			color: $bg-color;
			list-style-position: inside;
			margin-left: -1rem;
			padding: 1rem;
		}
	}
}

.entry-footer {
	clear: both;
	padding-top: 1rem;
}

.tag-links {
	display: block;
	margin: 0 0 1rem 0;
	line-height: 2rem;
}




a[rel="tag"] {
	background: $special-color;
	border-radius: 3px;
	text-decoration: none;
	padding: 6px 8px; 
	font-family: $system-font;
	font-size: .75rem;
	white-space: nowrap;

	&:before {
		content: url("data:image/svg+xml; utf8, <svg height='20' fill='#D4776B' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z'></path></svg>");
		position: relative;
		top: 5px;
		left: -4px;

		@media screen and (min-width: 1400px) {
			top: 4px;
			left: -2px;
		}
	}
}

.share-container {
	padding: 0;
	margin-bottom: 1rem;
	position: relative;

	& .sharing-tooltip {
		font-family: $system-font;
		position: absolute;
		background-color: $special-color;
		color: $link-color;
		font-size: .7rem;
		padding: .5rem;
		border-radius: 3px;
		top: -.5rem;
		opacity: 0;
		visibility: hidden;

		&:after {
			content: '';
			position: absolute;
			width: 0;
			height: 0;
			border: 5px solid transparent;
		    border-top: 10px solid $special-color;
		    top: 100%;
		    left: calc(52% - 5px);
		}
	}
}

.sharelink {
	
	display: inline-block;
	width: 40px;
	height: 40px;
	float: none;
	margin-right: 3px;	
	margin-bottom: 0;
	padding: 10px;
	background: $special-color;
	border: none;
	border-radius: 3px;
	text-align: center;
	overflow: hidden;
	vertical-align: top;

	& .icon {

		& .svg-icon {
			height: 20px;
			width: 20px;
			top:0px;

			& > * {
				fill: $link-color;			
			}
		}
	}
}

#shareurl {
	font-size: .7rem;
	font-family: $system-font;
	padding: .5rem;
}

.sharelink-title {
	overflow: auto;
	background-color: transparent;
	padding-left: 0;
	width: auto;

	& .icon .svg-icon > * {
		fill: $link-color;
	}
}

.tag-title,
.share-title {
	display: block;
	line-height: 2rem;	
}

