body.single-post,
body.page {

	#container {
		padding: 0;

		@media screen and (min-width: 1400px) {
			padding-left: 2rem;
		}
	}

	.article_content {

		@media screen and (min-width: 769px) {			
			width: 100%;
		    background: #FFF;
		    margin-top: -50vh;
		    position: relative;
		    padding: 3rem 3rem 0 3rem;
		    max-width: 44rem;
		    margin-left: auto;
		    margin-right: auto;
		    overflow: auto;
		}
	}

	.entry-title {
		margin-top: 0;
	}

	.entry-meta {
		font-size: .8rem;
		text-align: center;
		margin-bottom: 0.5rem;
	}

}

.thumbnail_single {
	width: calc(100% + 2rem);
	margin: -1rem -1rem 1rem -1rem;

	@media screen and (min-width: 601px) {
		width: calc(100% + 4rem);
		margin: -2rem -2rem 2rem -2rem;
	}	

	@media screen and (min-width: 769px) {
		width: calc(100% + 4rem);
		margin: -2rem -2rem 2rem -2rem;
		padding: 0;
		position: relative;
		height: 100vh;
		overflow: hidden;
	}

	& .attachment-post-thumbnail {
		width: 100%;
		height: auto;
		display: block;

		@media screen and (min-width: 769px) {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);

			@media (orientation: portrait) {
				height: 100%;
				width: auto;
			}
		}
	}

	&:after {
		@media screen and (min-width: 769px) and (max-width: 1400px) {
			content: "";
		    display: block;
		    position: absolute;
		    width: 100%;
		    top: 0;
		    height: 100%;
		    @include nav-underlay;
		}
	}
}

body.post-template-recipe-post {

	.article_content {
		@media screen and (min-width: 769px) {
			max-width: 52rem;
		}
	}

	.recipe_thumbnail {
		width: calc(100% + 2rem);
		height: auto;
		max-height: 45vh;
		margin: -1rem -1rem 1rem -1rem;	
		overflow: hidden;

		& .attachment-post-thumbnail {
			width: 100%;
			height: auto;
		} 

	}

	.entry-content {
		@media screen and (min-width: 769px) {			
			background-color: #FFF;
			//width: calc(50%);
			//margin-left: 1rem;
			box-sizing: border-box;
			//float: left;
			padding: 1rem 2rem 0 0;				
			position: relative;
			//color: $link-color;

		}
	}

	.recipe {

		@media screen and (min-width: 769px) {			
			background-color: #FFF;
			//width: calc(50%);
			box-sizing: border-box;
			//float: left;
			padding: 1rem 2rem 0 0;			
			position: relative;
		}
	}

	.recipe_components_ingredients_group {
		
		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
		}
	}

	.recipe_component_name {
		font-weight: bold;
		font-size: 1.25rem;
		color: $link-color;
		margin-bottom: .5rem;
		clear: both;		
	}

	.recipe_component_header {
		font-style: italic;
		margin-bottom: .5rem;
	}

	.recipe_component_ingredients {
		margin-bottom: 1rem;
		
		ul {
			list-style: square;
			margin: 0 0 .5rem 1rem;
		}
	}

	.recipe_component_steps {
		margin-bottom: 1rem;
		//color: $link-color;

		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin: 0 0 .5rem 1rem;
		}

		p {
			font-style: italic;
			padding: .5rem 0;
			border-bottom: 1px solid #EEE;

			&:first-of-type {
				margin-top: -.5rem;
			}
		}

		ol {
			list-style: decimal;
			margin-left: 1rem;

			li {
				border-top: 1px solid lighten($link-color, 25%);
				padding-top: .5rem;
				margin-bottom: .5rem;
			}
		}
	}
}

.toggle-cookmode {
	margin: 0 auto 1rem auto;
	font-size: .75rem;
    padding: .5rem;
    display: block;
    width: 200px;
    outline: none;
    border: 1px solid $link-color;
    background: #FFF;

	&:after {
		content: ' on';
	}
}

body.cookmode-on {

	.toggle-cookmode {
		position: fixed;
		top: .5rem;
		right: .5rem;
		z-index: 5;

		&:after {
			content: ' off';
		}
	}

	& .recipe {
		position: fixed;
		z-index: 4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		overflow: scroll;
		width: 100%;
		box-sizing: border-box;
		background: $bg-color;
		padding: 4rem 2rem 2rem;

		& .attachment-post-thumbnail {
			display: none;
		}
	}

	.recipe_components_ingredients_group {

		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
		}
	}

	.recipe_component_steps {
		@media screen and (min-width: 769px) {
			width: calc(50% - 1rem);
			float: left;
			margin-left: 1rem;
		}

		li:hover {
			background: $text-color;
			color: $bg-color;
			list-style-position: inside;
			margin-left: -1rem;
			padding: 1rem;
		}
	}
}

.entry-footer {
	clear: both;
	padding-top: 1rem;
}

.tag-links {
	display: block;
	margin: 0 0 1rem 0;
	line-height: 2rem;
}




a[rel="tag"] {
	background: $special-color;
	border-radius: 3px;
	//color: #FFF;
	text-decoration: none;
	padding: 6px 8px; 
	font-family: $system-font;
	font-size: .75rem;
}

.share-container {
	padding: 0;
	margin-bottom: 1rem;
}

.sharelink {
	
	display: inline-block;
	width: 40px;
	height: 40px;
	float: none;
	margin-right: 3px;	
	margin-bottom: 0;
	padding: 10px;
	background: $special-color;
	border: none;
	border-radius: 3px;
	text-align: center;

	& .icon {

		& .svg-icon {
			height: 20px;
			width: 20px;
			top:0px;

			& > * {
				fill: $link-color;			
			}
		}
	}
}

.sharelink-title {
	overflow: auto;
	background-color: transparent;
	padding-left: 0;
	width: auto;

	& .icon .svg-icon > * {
		fill: $link-color;
	}
}

.tag-title,
.share-title {
	display: block;
	line-height: 2rem;	
}

