body.single-post,
body.page {

	#container {
		padding: 0;

		@media screen and (min-width: 1400px) {
			padding-left: 2rem;
		}
	}

	.article_content {
		//max-width: 1200px;

		@media screen and (min-width: 768px) {
			
			width: 100%;
		    background: #FFF;
		    margin-top: -33vh;
		    position: relative;
		    padding: 2rem
		}

		@media screen and (min-width: 940px) {
			column-count: 2;
			column-gap: 2rem;
		}

		@media screen and (min-width: 102rem) {
			column-count: 3;
			column-gap: 2rem;
		}
	}

	.entry-title {
		margin-top: 0;
		-webkit-column-span: all;
		-moz-column-span: all;
	}

	.entry-meta {
	}
}

.thumbnail_single {
	background: $special-color;
	width: calc(100% + 2rem);
	margin: -1rem -1rem 1.5rem -1rem;

	@media screen and (min-width: 768px) {
		width: calc(100% + 4rem);
		margin: -2rem -2rem 2rem -2rem;
		padding: 0;
		position: relative;
		height: 66vh;
		overflow: hidden;
	}

	& .attachment-post-thumbnail {
		width: 100%;
		height: auto;
		display: block;

		@media screen and (min-width: 768px) {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&:after {
		@media screen and (min-width: 768px) {
			content: "";
		    display: block;
		    position: absolute;
		    width: 100%;
		    top: 0;
		    height: 100%;
		    background: linear-gradient(rgba(255, 255, 255, .8), rgba(255, 255, 255, .5), transparent);	
		}
	}
}

body.post-template-recipe-post {

	.article_content {
		//max-width: 1200px;

		@media screen and (min-width: 769px) {
			column-count: 1;
			column-gap: 0;
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
			box-sizing: border-box;
		}

		@media screen and (min-width: 102rem) {
			column-count: 1;
		}

		@media screen and (min-width: 1600px) {
			width: calc(33.3% - 1rem);
		}
	}

	.recipe_thumbnail {
		width: calc(100% + 2rem);
		height: auto;
		max-height: 45vh;
		margin: -1rem -1rem 1rem -1rem;	
		overflow: hidden;

		& .attachment-post-thumbnail {
			width: 100%;
			height: auto;
		} 

	}

	.recipe {

		@media screen and (min-width: 768px) {			
			background-color: #FFF;
			width: calc(50% - 1rem);
			margin-left: 1rem;
			box-sizing: border-box;
			float: left;
			padding: 2rem;
			margin-top: -33vh;
			position: relative;
			color: $link-color;

		}

		@media screen and (min-width: 1600px) {
			width: calc(66.6% - 1rem);
		}
	}

	.recipe_component_name {
		font-weight: bold;
		font-size: 1.25rem;
		color: $link-color;
		margin-bottom: .5rem;
		clear: both;		
	}

	.recipe > .recipe_component .recipe_component_name {
		
	}

	.recipe > .recipe_component ~ .recipe_component .recipe_component_name {
		border-top: 1px solid $link-color;
		margin: 0 -1rem .5rem -1rem;
		padding: 2rem 1rem 0 1rem; 
	}

	.recipe_component_header {
		font-style: italic;
		margin-bottom: .5rem;
	}

	.recipe_component_ingredients {
		margin-bottom: 1rem;

		@media screen and (min-width: 1600px) {
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
		}

		ul {
			list-style: square;
			margin: 0 0 .5rem 1rem;
		}
	}

	.recipe_component_steps {
		margin-bottom: 1rem;

		@media screen and (min-width: 1600px) {
			width: calc(50% - 1rem);
			float: left;
			margin: 0 0 .5rem 1rem;
		}

		ol {
			list-style: decimal;
			margin-left: 1rem;

			li {
				border-top: 1px solid lighten($text-color, 25%);
				padding-top: .5rem;
				margin-bottom: .5rem;
			}
		}
	}
}

.close-cookmode {
	display: none;
}

.cookmode-on {

	.close-cookmode {
		display:inline-block;
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 1rem;
		font-style: italic;
		cursor: pointer;

		.closex {
			margin-left: 1em;
			height: 1rem;
			position: relative;
			top: 0.125rem;
		}
	}

	& .recipe {
		position: fixed;
		z-index: 4;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: 0;
		overflow: scroll;
		width: 100%;
		box-sizing: border-box;
		background: $bg-color;
		padding: 2rem;

		& .attachment-post-thumbnail {
			display: none;
		}
	}

	.recipe_component_ingredients {

		@media screen and (min-width: 768px) {
			width: calc(50% - 1rem);
			float: left;
			margin-right: 1rem;
		}
	}

	.recipe_component_steps {
		@media screen and (min-width: 768px) {
			width: calc(50% - 1rem);
			float: left;
			margin-left: 1rem;
		}

		li:hover {
			background: $text-color;
			color: $bg-color;
			list-style-position: inside;
			margin-left: -1rem;
			padding: 1rem;
		}
	}
}