html, body {
	font-family: $text-font;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.58;
	color: $text-color;

	@media screen and (min-width: 1200px) {
		font-size: 20px;
	}

	@media screen and (min-width: 1400px) {
		font-size: 22px;
	}
}

p, li {
	-webkit-font-smoothing: antialiased;
}

a,
a:hover,
a:visited {
	color: $link-color;
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

button,
input[type="submit"] {
	font-size: .9rem;
	background: $bg-color;
	padding: .75rem 1rem;
	color: $link-color;
	border: 1px solid $link-color;
	font-family: $headline-font;
	cursor: pointer;
	display: inline-block;
	overflow: auto;
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	-webkit-font-smoothing: auto;
}

textarea {
	font-size: 1rem;
	background: $bg-color;
	padding: .5rem;
	color: $text-color;
	border: 3px solid $text-color;
	font-family: $text-font;
	font-style: italic;
	cursor: text;
	display: block;
	overflow: auto;
	margin-bottom: 1.5rem;
	width: 33%;
	max-width: 45rem;
	height: 3rem;
	transition: all .3s ease-out;

	&:focus {
		outline: none;
		width: 100%;
		height: 10rem;
		border-width: 3px;
	}
}

.entry-content {

	& p {
		margin-bottom: $spacing/2;
		font-weight: 400;

		/* &:first-child:first-letter { 
			float: left;
		    font-size: 7.36rem;
		    font-weight: 500;
		    line-height: 4.54rem;
		    padding-top: 1.4rem;
		    padding-right: 8px;
		    padding-left: 0px; 

		} */
	}

	& a {
		//font-weight: bold;
		//font-family: $headline-font;
		color: $link-color;

		&:hover {
			background-color: $text-color;
			color: $bg-color;
			text-decoration: none;
		}
	}

}

.entry-title {
	font-family: $headline-font;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.33;
	margin-bottom: 1rem;
	text-transform: uppercase;
    letter-spacing: .05rem;
    //-webkit-font-smoothing: antialiased;

	& a{
		text-decoration: none;
		color: $link-color;
	}

	.single &,
	.page & {

		@media screen and (min-width: 1200px) {
			font-size: 2rem;
		}

	}
}

.home_latestrecipes_wrapper_header{
	@extend .entry-title;
}

.entry-title_latestrecipes {
	//@extend .entry-title;
	font-size: 1.125rem;
	margin-bottom: .75rem;
	margin-top: .25rem;

	& a {
		text-decoration: none;
	}
}

.comment-reply-title {
	@extend .entry-title;
	font-size: 1rem;
	font-weight: bold;
	padding-top: 1rem;
	margin-top: 1rem;
	border-top: 1px solid $special-color;
}

.single-post .article_content,
.page .article_content,
.home .home_latestarticle {
	p:first-child:first-letter {
	  float: left;
	  font-family: $headline-font;
	  font-size: 3rem;
	  font-weight: 300;
	  line-height: 2rem;
	  padding-top: 0.65rem;
	  padding-right: 5px;
	  margin-left: -2px;
	}
}

.entry-meta {
	font-size: 0.8rem;
	padding-bottom: .25rem;
}


.svg-icon {
	height: .75rem;
	* {
		fill: $text-color;
	} 
}
